* {
  border: none;
  border-radius: 0;
  font-family: 'Roboto', 'FontAwesome';
  font-weight: 500;
  font-size: 13px;
}

window#waybar {
  color: #eaeaea;
  background-color: rgba(40, 44, 52, 0.85);
}

#workspaces button {
  padding: 0 10px;
  color: #828482;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button.active {
  color: #eaeaea;
}

#workspaces button:hover {
  background: rgba(256, 256, 256, 0.9);
  color: rgba(40, 44, 52, 1.0);
}

#workspaces button.urgent {
  background: rgba(256, 256, 256, 0.9);
  color: rgba(40, 44, 52, 1.0)
}

#window {
  border-left: 1px solid #eaeaea ;
  margin: 5px 0;
  padding: 0 10px;
}

#tray,
#pulseaudio,
#network,
#backlight,
#battery,
#clock {
  padding: 0 10px;
}

#clock {
  padding: 0 15px 0 10px;
}

@keyframes blink {
  to {
    background-color: #eaeaea;
    color: black;
  }
}

#battery.critical:not(.charging) {
  color: #ff6c6b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

tooltip {
  border: 1px solid rgba(100, 114, 125, 0.5);
}
